<% provide(:title, t("titles.home")) %>
<%= render 'header' %>

<main>
    
       <div class="row w-100 p-3">
       <% @properties.each do |property| %>
            <div class="col-md-4 mb-3">
                <div class="property-card property-card-list w-100 h-100 bg-white shadow px-0">
                    <div class="owl-carousel owl-theme">
                        <div>
                            <img src= "files/<%= property.cover.file %>">
                        </div>
                        <% property.photos.each_with_index do |picture, i|
                            if i != 2 %>
                            <div>
                                <img src= "files/<%= picture.file %>">
                            </div>
                        <%  end
                        end %>
                    </div>
                    <div class="p-4 position-relative d-flex flex-column flex-fill">
                        <div class="fs-5 fw-bold text-tabas-grey"><%= property.name %></div>
                    </div>
                </div>
            </div>
        <% end %>
        </div> 
        <%== pagy_bootstrap_nav(@pagy) %>
</main>

<script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            items: 1,
            nav: true,
            smartSpeed: 900,
            navText:["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"]
        });
    });
</script>