<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><%= @app_name %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="headline"><%= yield(:title) %></div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link <%= "active" if I18n.locale == :en %>" aria-current="page" href="?locale=en"><%= t("locales.english") %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= "active" if I18n.locale == :"pt-BR" %>" aria-current="page" href="?locale=pt-BR"><%= t("locales.portuguese") %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= "active" if I18n.locale == :"es" %>" aria-current="page" href="?locale=es"><%= t("locales.spanish") %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>